## Analyzing the data

In [21]:
import pandas
import numpy

filename = 'suicide-rates.csv'
data = pandas.read_csv(filename)

gdp_for_year = numpy.ndarray([], dtype=numpy.int64)
print(data[" gdp_for_year ($) "])
for sample in data[" gdp_for_year ($) "][1:]:
    gdp_for_year = numpy.append(gdp_for_year, int(sample.replace(",", "")))

data[" gdp_for_year ($) "] = gdp_for_year
print(data.dtypes)

0         2,156,624,900
1         2,156,624,900
2         2,156,624,900
3         2,156,624,900
4         2,156,624,900
5         2,156,624,900
6         2,156,624,900
7         2,156,624,900
8         2,156,624,900
9         2,156,624,900
10        2,156,624,900
11        2,156,624,900
12        2,126,000,000
13        2,126,000,000
14        2,126,000,000
15        2,126,000,000
16        2,126,000,000
17        2,126,000,000
18        2,126,000,000
19        2,126,000,000
20        2,126,000,000
21        2,126,000,000
22        2,126,000,000
23        2,126,000,000
24        2,335,124,988
25        2,335,124,988
26        2,335,124,988
27        2,335,124,988
28        2,335,124,988
29        2,335,124,988
              ...
27790    51,821,573,338
27791    51,821,573,338
27792    51,821,573,338
27793    51,821,573,338
27794    51,821,573,338
27795    51,821,573,338
27796    57,690,453,461
27797    57,690,453,461
27798    57,690,453,461
27799    57,690,453,461
27800    57,690,453,461
27801    57,690,453,461
27802    57,690,453,461
27803    57,690,453,461
27804    57,690,453,461
27805    57,690,453,461
27806    57,690,453,461
27807    57,690,453,461
27808    63,067,077,179
27809    63,067,077,179
27810    63,067,077,179
27811    63,067,077,179
27812    63,067,077,179
27813    63,067,077,179
27814    63,067,077,179
27815    63,067,077,179
27816    63,067,077,179
27817    63,067,077,179
27818    63,067,077,179
27819    63,067,077,179
Name:  gdp_for_year ($) , Length: 27820, dtype: object
27820
country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)       int64
gdp_per_capita ($)      int64
generation             object
dtype: object

In [2]:
print(data.head(50))

    country  year     sex          age  suicides_no  population  \
0   Albania  1987    male  15-24 years           21      312900
1   Albania  1987    male  35-54 years           16      308000
2   Albania  1987  female  15-24 years           14      289700
3   Albania  1987    male    75+ years            1       21800
4   Albania  1987    male  25-34 years            9      274300
5   Albania  1987  female    75+ years            1       35600
6   Albania  1987  female  35-54 years            6      278800
7   Albania  1987  female  25-34 years            4      257200
8   Albania  1987    male  55-74 years            1      137500
9   Albania  1987  female   5-14 years            0      311000
10  Albania  1987  female  55-74 years            0      144600
11  Albania  1987    male   5-14 years            0      338200
12  Albania  1988  female    75+ years            2       36400
13  Albania  1988    male  15-24 years           17      319200
14  Albania  1988    male    75+ years            1       22300
15  Albania  1988    male  35-54 years           14      314100
16  Albania  1988    male  55-74 years            4      140200
17  Albania  1988  female  15-24 years            8      295600
18  Albania  1988  female  55-74 years            3      147500
19  Albania  1988  female  25-34 years            5      262400
20  Albania  1988    male  25-34 years            5      279900
21  Albania  1988  female  35-54 years            4      284500
22  Albania  1988  female   5-14 years            0      317200
23  Albania  1988    male   5-14 years            0      345000
24  Albania  1989    male    75+ years            2       22500
25  Albania  1989    male  25-34 years           18      283600
26  Albania  1989    male  35-54 years           15      318400
27  Albania  1989    male  55-74 years            6      142100
28  Albania  1989    male  15-24 years           12      323500
29  Albania  1989  female  35-54 years            7      288600
30  Albania  1989  female  15-24 years            5      299900
31  Albania  1989  female  25-34 years            2      266300
32  Albania  1989  female  55-74 years            1      149600
33  Albania  1989  female   5-14 years            0      321900
34  Albania  1989  female    75+ years            0       37000
35  Albania  1989    male   5-14 years            0      349700
36  Albania  1992    male  35-54 years           12      343800
37  Albania  1992    male  15-24 years            9      263700
38  Albania  1992    male  55-74 years            5      159500
39  Albania  1992    male  25-34 years            7      245500
40  Albania  1992  female  15-24 years            7      292400
41  Albania  1992  female  25-34 years            4      267400
42  Albania  1992  female  35-54 years            2      323100
43  Albania  1992  female  55-74 years            1      164900
44  Albania  1992  female   5-14 years            0      336700
45  Albania  1992  female    75+ years            0       38700
46  Albania  1992    male   5-14 years            0      362900
47  Albania  1992    male    75+ years            0       23900
48  Albania  1993    male  15-24 years           18      243300
49  Albania  1993    male  55-74 years            7      165000

    suicides/100k pop country-year  HDI for year  gdp_for_year ($)   \
0                6.71  Albania1987           NaN      2,156,624,900
1                5.19  Albania1987           NaN      2,156,624,900
2                4.83  Albania1987           NaN      2,156,624,900
3                4.59  Albania1987           NaN      2,156,624,900
4                3.28  Albania1987           NaN      2,156,624,900
5                2.81  Albania1987           NaN      2,156,624,900
6                2.15  Albania1987           NaN      2,156,624,900
7                1.56  Albania1987           NaN      2,156,624,900
8                0.73  Albania1987           NaN      2,156,624,900
9                0.00  Albania1987           NaN      2,156,624,900
10               0.00  Albania1987           NaN      2,156,624,900
11               0.00  Albania1987           NaN      2,156,624,900
12               5.49  Albania1988           NaN      2,126,000,000
13               5.33  Albania1988           NaN      2,126,000,000
14               4.48  Albania1988           NaN      2,126,000,000
15               4.46  Albania1988           NaN      2,126,000,000
16               2.85  Albania1988           NaN      2,126,000,000
17               2.71  Albania1988           NaN      2,126,000,000
18               2.03  Albania1988           NaN      2,126,000,000
19               1.91  Albania1988           NaN      2,126,000,000
20               1.79  Albania1988           NaN      2,126,000,000
21               1.41  Albania1988           NaN      2,126,000,000
22               0.00  Albania1988           NaN      2,126,000,000
23               0.00  Albania1988           NaN      2,126,000,000
24               8.89  Albania1989           NaN      2,335,124,988
25               6.35  Albania1989           NaN      2,335,124,988
26               4.71  Albania1989           NaN      2,335,124,988
27               4.22  Albania1989           NaN      2,335,124,988
28               3.71  Albania1989           NaN      2,335,124,988
29               2.43  Albania1989           NaN      2,335,124,988
30               1.67  Albania1989           NaN      2,335,124,988
31               0.75  Albania1989           NaN      2,335,124,988
32               0.67  Albania1989           NaN      2,335,124,988
33               0.00  Albania1989           NaN      2,335,124,988
34               0.00  Albania1989           NaN      2,335,124,988
35               0.00  Albania1989           NaN      2,335,124,988
36               3.49  Albania1992           NaN        709,452,584
37               3.41  Albania1992           NaN        709,452,584
38               3.13  Albania1992           NaN        709,452,584
39               2.85  Albania1992           NaN        709,452,584
40               2.39  Albania1992           NaN        709,452,584
41               1.50  Albania1992           NaN        709,452,584
42               0.62  Albania1992           NaN        709,452,584
43               0.61  Albania1992           NaN        709,452,584
44               0.00  Albania1992           NaN        709,452,584
45               0.00  Albania1992           NaN        709,452,584
46               0.00  Albania1992           NaN        709,452,584
47               0.00  Albania1992           NaN        709,452,584
48               7.40  Albania1993           NaN      1,228,071,038
49               4.24  Albania1993           NaN      1,228,071,038

    gdp_per_capita ($)       generation
0                  796     Generation X
1                  796           Silent
2                  796     Generation X
3                  796  G.I. Generation
4                  796          Boomers
5                  796  G.I. Generation
6                  796           Silent
7                  796          Boomers
8                  796  G.I. Generation
9                  796     Generation X
10                 796  G.I. Generation
11                 796     Generation X
12                 769  G.I. Generation
13                 769     Generation X
14                 769  G.I. Generation
15                 769           Silent
16                 769  G.I. Generation
17                 769     Generation X
18                 769  G.I. Generation
19                 769          Boomers
20                 769          Boomers
21                 769           Silent
22                 769     Generation X
23                 769     Generation X
24                 833  G.I. Generation
25                 833          Boomers
26                 833           Silent
27                 833  G.I. Generation
28                 833     Generation X
29                 833           Silent
30                 833     Generation X
31                 833          Boomers
32                 833  G.I. Generation
33                 833     Generation X
34                 833  G.I. Generation
35                 833     Generation X
36                 251          Boomers
37                 251     Generation X
38                 251           Silent
39                 251          Boomers
40                 251     Generation X
41                 251          Boomers
42                 251          Boomers
43                 251           Silent
44                 251       Millenials
45                 251  G.I. Generation
46                 251       Millenials
47                 251  G.I. Generation
48                 437     Generation X
49                 437           Silent